<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDLXbHsRXQPurJLoYexCA2f_XQtZ3nZ-U</string>
	<key>GCM_SENDER_ID</key>
	<string>353187664455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogesh.dailyplanner</string>
	<key>PROJECT_ID</key>
	<string>dailyplanner-b3d56</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyplanner-b3d56.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353187664455:ios:6725179121d92480759762</string>
</dict>
</plist>